<h2>Create event</h2>
<form method="post" action="/events/create">
  <p>Title<input type="text" name="event[title]"></p>
  </p>Date<input type="date" name="event[date]"></p>
  </p>Organizer Name<input type="text" name="event[organizer_name]"></p>
  </p>Organizer Email<input type="text" name="event[organizer_email]"></p>
  <input type="submit" value="create event">
</form>